#category {
    width: 100%;
    .nav-item {
        flex: 1;
    }
}

#category button {
    color: black;
}

.header {
    transition: ease 0.5s;
    border-bottom: 0.1rem solid #000;
}

.header a {
    cursor: pointer;
}
