* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    font-family: 'HNC', 'SpoqaHanSans', Noto Sans KR, sans-serif;
    font-style: condensed;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    background: #fff;
    color: #111;
    text-transform: uppercase;
    word-break: keep-all;
}

.information-container {
    display: flex;
}
.product-information {
    display: flex;
    border: 1px solid #111;
    width: 40vw;
    font-size: 20px;
    line-height: 24px;
}

.product-detail {
    padding: 15px 10px 15px 10px;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid #111;
}
.product-detail strong {
    font-size: 20px;
}

.product-image {
    border: 1px solid #111;
    width: 40vw;
}
.empty-space {
    border: 1px solid #111;
    width: 20vw;
}
