* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    font-family: 'HNC', 'SpoqaHanSans', Noto Sans KR, sans-serif;
    font-style: condensed;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    background: #fff;
    color: #111;
    text-transform: uppercase;
    word-break: keep-all;
}

.product-category {
    line-height: 44px;
    padding-top: 80px;
    border-bottom: 0.1rem solid #000;
    overflow: hidden;
    height: 120px;
}
.inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.category ul {
    list-style-type: none;
    display: flex;
    width: 100%;
}
.category ul li {
    margin-right: 25px;
    margin-left: 10px;
}
.filter {
    margin-right: 25px;
    margin-left: 10px;
}
.thumbnail {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.product {
    display: grid;
    grid-template-rows: 8fr 1.6fr;
    box-sizing: border-box;
}
.thumbnail-image {
    position: relative;
    border: 0.1rem solid #000;
}
.thumbnail-image img {
    width: 100%;
}
.thumbnail-information {
    padding: 10px 10px 0;
    position: relative;
    border: 0.1rem solid #000;
}
.page-change-container {
    padding: 0px 10px 0px;
    padding-bottom: 80px;
    border-top: 0.1rem solid #000;
    height: 40px;
    line-height: 44px;
    position: relative;
    display: flex;
    justify-content: center;
}
.page-changer {
    margin: 0 10px;
    display: inline-block;
}
.number-list {
    display: inline-block;
}
.number-list li {
    margin: 0 10px;
    display: inline-block;
}

#footer {
    margin-top: 40px;
}
.company-information {
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
}
.contact-information-container {
    display: flex;
    justify-content: space-between;
    border-top: 0.1rem solid #000;
}

.contact-information-container p {
    line-height: 44px;
    color: #000;
    font-size: 16px;
}
.contact-information-container ul {
    display: flex;
    justify-content: space-between;
}
.contact-information-container ul li {
    line-height: 44px;
    color: #000;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
}
